# Bỏ qua thư mục ảo Python
venv/
__pycache__/

# Bỏ qua ảnh vệ tinh gốc (vì cái này mới nặng)
data/images/*

# CHO PHÉP ảnh mask (vì nó nhẹ)
!data/masks/*.png  <-- Thêm dòng này (hoặc xóa dòng data/masks/* đi)

# Giữ lại cấu trúc thư mục
!data/images/.gitkeep
